body { background-color: #999999;}

h1 a {
  color: lightblue;
  text-decoration: none;
  font-family: helvetica, sans-serif;
}

h1 a:hover {
  color: white;
}

h1 {
  padding-left: 20px;
  font-style: italic;
  font-weight: normal;
}

header {
  background-image: linear-gradient(#308bdb, blue);
  border-bottom: 5px solid blue;
}

nav {
  grid-column: span 6;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  background-image: linear-gradient(#308bdb, blue);
  margin: 0 0 5px 0;
  padding: 10px 0px;
  width: 237px;
  display: inline-block;
  text-align: center;
}

nav li:hover {
  background-image: linear-gradient(blue, #308bdb);
}

nav a {
  color: lightblue;
  text-decoration: none;
  font-weight: bold;
  font-family: helvetica, sans-serif;
  display: block;
}

nav a:hover {
  color: white;
}

#hide {
  color: blue;
}

header {
  grid-column: span 6;
}

h2 {
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 7px;
  font-weight: normal;
}

#makeboldjustified {
  font-weight: bold;
  text-align: justify;
}

.danimg {
  float: left;
  border: 3px solid blue;
  width: 400px;
  margin: 0 15px 10px 0;
}

.tablesimg {
  float: right;
  border: 3px solid blue;
  width: 500px;
  margin: 0 0 15px 10px;
}

.galleryimg {
  margin-right: 25px;
  border: 3px solid blue;
}

.links {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.links:hover {
  color: darkred;
  text-decoration: underline;
}

main {
  grid-column: span 6;
  margin: 0px 20px;
  font-family: helvetica, sans-serif;
}

footer {
  grid-column: span 6;
  background-color: red;
  padding: 15px;
  border-top: 5px solid blue;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 5px solid blue;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
}
