h1 {
  color: white;
}

header {
  background-color: lightblue;
}

footer {
  background-color: yellow;
}

#bluetitle {
  color: blue;
}

#fathersday {
  color: yellow;
  background-color: darkgreen;
}

#greenbg {
  background-color: lightgreen;
}

#redtext {
  color: red;
}

.orangetext {
  color: orange;
}

.yellowbg {
  background-color: yellow;
}

a {
 color: green;
 text-decoration: none;
}

a:hover {
 color: #ff0000;
 text-decoration: underline;
}
