body {
  background-color: #36474e;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#wrapper {
  margin: 0 auto; /* auto is what's filling the left/right background */
  width: 1200px;
  border: 2px solid black;
  padding-top: 24px;
  background-color: #92A2A0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  text-transform: uppercase;
}

header{
  grid-column: span 12;
  background-color: #085A4D;
  color: white;
  padding-bottom: 24px;
  font-weight: normal;
  position: relative; /* Use "position: relative" to help align text vertically */
  border: 1px solid black;
}

h1 {
  margin-left: 78px;
  margin-bottom: 0;
  font-weight: normal;
}

header h2 {
  margin-left: 147px;
  margin-top: 0;
  font-weight: normal;
  display: inline;
  /*border: 1px solid black;*/
}

nav {
  display: inline-block;
  /*border: 1px solid black;*/
  margin-right: 72px;
  text-decoration: none;
  text-align: right;
  position: absolute; /* Use "position: absolute" to help align text vertically */
  top: 50px; /* Use "top" to help align text vertically, orginal value was 50px */
  right: 0;
}

#homeid {
  margin-right: 8px;
  color: #C0BBFF;
}

#aboutmeid {
  margin-right: 8px;
  color: white;
}

header a {
  text-decoration: none;
}

#projectsinprogressid {
  grid-column: span 12;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  color: white;
  /* border: 1px solid black; */
  margin: 0;
  padding: 45px 0;
  background-color: #0C4646;
  border: 1px solid black;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  /* display: block; */
  grid-column: span 1;
  border: 1px solid black;
  padding: 0;
}

/* Project Images */
article img {
  width: 100%;
  display: block;
  padding: 0;
}

/* How do I make image turn black and opaque when hovered? */
article a:hover{
  background-color: black;
}



footer {
  grid-column: span 12;
  background-color: #085A4D;
  color: white;
  text-align: center;
  margin-bottom: 24px;
  padding: 70px;
  border: 1px solid black;
}

footer a{
  color: white;
  text-decoration: none;
}

#resumeid {
  margin-right: 50px;
}
