body {
  background-color: #999999;
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header{
  grid-column: span 12;
  background-color: #92A2A0;
  text-transform: uppercase;
  color: white;
  margin-bottom: 24px;
}

aside {
  grid-column: span 7;
}

aside img{
  width: 100%;
}

nav {
  grid-column: span 5;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  background-color: #92A2A0;
  margin-bottom: 24px;
}

nav li a {
  display: block;
  padding: 24px;
  color: white;
  text-decoration: none;
  font-size: 2m;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
}

article h2 {
  color: #92A2A0;
  border-bottom: 5px solid #92A2A0;
}

article img {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 1em;
}

footer {
  grid-column: span 12;
  background-color: #92A2A0;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding-left: 24px;
}
